name: Release Client Build
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag to use for the release'
        required: true
        type: string

permissions:
  contents: write

jobs:
  publish-release-draft:
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.compute-tag.outputs.release_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Compute release tag
        id: compute-tag
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "release_tag=${{ github.event.inputs.tag_name }}" >> "$GITHUB_OUTPUT"
          else
            echo "release_tag=${{ github.ref_name }}" >> "$GITHUB_OUTPUT"
          fi

      - name: Generate dummy body
        run: echo "This is a test release body." > body.md

      - name: Create Release Draft
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ steps.compute-tag.outputs.release_tag }}" \
            --draft \
            --title "Test Release: ${{ steps.compute-tag.outputs.release_tag }}" \
            --notes-file body.md


  upload-binaries:
    needs: publish-release-draft
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["ubuntu", "macOS"]
        arch: ["x86_64"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Create dummy binary folder
        run: mkdir -p "${{ matrix.os }}-${{ matrix.arch }}-bin"

      - name: Create dummy binary
        run: echo "dummy content" > "${{ matrix.os }}-${{ matrix.arch }}-bin/astar-collator"

      - name: Package dummy binary
        run: |
          asset_dir="${{ matrix.os }}-${{ matrix.arch }}-bin"
          chmod +x "$asset_dir/astar-collator"
          tar -C "$asset_dir" -zcvf "$asset_dir/astar-collator.tar.gz" astar-collator

      - name: Upload dummy asset to release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          asset_dir="${{ matrix.os }}-${{ matrix.arch }}-bin"
          release_tag="${{ needs.publish-release-draft.outputs.release_tag }}"
          asset_name="astar-collator-${release_tag}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz"

          mv "$asset_dir/astar-collator.tar.gz" "$asset_dir/$asset_name"
          gh release upload "$release_tag" "$asset_dir/$asset_name" --clobber
