name: Release Client Build
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:

permissions:
  contents: write

env:
  RELEASE_TAG: ${{ github.ref_name }}
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: staketechnologies/astar-collator
          tags: |
            type=ref,event=tag
            type=sha,format=short
            type=raw,value=latest

      - name: Debug docker metadata
        run: |
          echo "Docker tags:"
          echo "${{ steps.docker_meta.outputs.tags }}"
          echo ""
          echo "Docker labels:"
          echo "${{ steps.docker_meta.outputs.labels }}"
