name: Release Client Build
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish-release-draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Generate dummy body
        run: |
          echo "This is a test release body." > body.md

      - name: Create Release Draft
        id: create-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" \
            --draft \
            --title "Test Release: ${{ github.ref_name }}" \
            --notes-file body.md

  upload-binaries:
    needs: publish-release-draft
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["ubuntu", "macOS"]
        # arch: ["x86_64", "aarch64"]
        arch: ["x86_64"]
        exclude:
          - os: macOS
            arch: aarch64
    steps:
      - name: Create dummy binary folder
        run: |
          mkdir -p ${{ matrix.os }}-${{ matrix.arch }}-bin

      - name: Create dummy binary
        run: |
          echo "dummy content for testing" > \
          "${{ matrix.os }}-${{ matrix.arch }}-bin/astar-collator"

      - name: Package dummy binary
        run: |
          cd "${{ matrix.os }}-${{ matrix.arch }}-bin"
          chmod +x astar-collator
          tar zcvf astar-collator.tar.gz astar-collator

      - name: Upload binary artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd "${{ matrix.os }}-${{ matrix.arch }}-bin"
          asset_name="astar-collator-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz"
          mv astar-collator.tar.gz "$asset_name"
          gh release upload "${{ github.ref_name }}" "$asset_name" --clobber
